@use "total" as *;


@mixin flex {
  display: flex;
  justify-content: space-between;
  line-height: 1em;
}
@mixin flexDirection {
  display: flex;
  flex-direction: column;
}

@mixin flexMain ($position, $direction) {
  display: flex;
  flex-direction: $direction;
 justify-content: $position;
  align-items: $position;

}
@mixin bg {

background-size: 100% ;
background-repeat: no-repeat;

}
%Contentlist {
  display: flex;
padding: 1em;
  align-items: flex-end;
  height: 10vh;
  color: white;
  margin: .8em 1em;
  font-weight: 300;
  font-size: $h2;
  text-transform: uppercase;
  width: 85%;
font-family: $font-family1;
}
body {
  margin: 0;

}
h1{
  font-weight: $fontWeight1;
  font-family: $font-family1;
}
.header {
  background: url(/images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: $widthcent;
  height: 65vh;
  @include flexDirection;
 
  nav {
    padding: $p;
    padding-top: 2em;
    @include flex;
  }
  .nav-list {
    display: none;
  }
  .ham {
    width: 25px;
    height: 15px;
  }
  .logo {
    width: 40%;
  }
  h1 {
    
    margin: 0;
    width: 80%;
    justify-content: left;
    text-transform: uppercase;

    color: $White;
    padding: .8em .8em;
    border: 1px solid white;
  }
  .h1{
    height: 50vh;
    margin: 0em 1em;


@include flexMain(center, column);
align-items: flex-start;
  }
}
.main-section {
  @include flexDirection;
  margin-top: 3em;
  

}
.first-div {
    text-align: center;
    padding: $p;
    h1 {
      font-weight: $fontWeight1;
      font-size: $h1;
      text-transform: uppercase;
    }
    p {
      font-size: $p;
      font-family: 'Alata';
      color: $DarkGray;
    }
    img {
      width: 80%;
    }
  }
  .second-div{
    @include flexDirection;
        h1{
      text-transform: uppercase;
      text-align: center;
    }

    .button{
margin: 1em 1em;
padding: 1em;
@include flexMain(center, column );
button{
  border: 2px solid black;
  width: 40%;
  background: white;
  font-family: $font-family2;
  letter-spacing: .3em;
  text-transform: uppercase;
  padding: .6em;
}     
    }
    button:hover{
background-color: black;
color: white;
border:none;
transition: ease-in-out .1s;
    }
    .creations > li:hover{
   opacity: .4;
   transition: ease-in-out .1s;
    }

    .deep{
        background: linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-deep-earth.jpg);
        @include bg;
        @extend %Contentlist;
    }
    .night{
        background: linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-night-arcade.jpg);
        @include bg;
        @extend %Contentlist;
    }
    .soccer{
        background: linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-soccer-team.jpg);
        @include bg;
        @extend %Contentlist;
    }
    .grid{
        background: linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-grid.jpg);
        @include bg;
        @extend %Contentlist;
    }
    .vr{
        background: linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-from-above.jpg);
        @include bg;
        @extend %Contentlist;
    }
    .pocket{
        background:  linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-pocket-borealis.jpg);
        @include bg;
        @extend %Contentlist;
        
    }
    .curiosity{
        background: linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-curiosity.jpg);
        @include bg;
        @extend %Contentlist;
    }
    .fish{
        background: linear-gradient(-90deg,$Whitegradient, $BlackGradient ), url(/images/mobile/image-fisheye.jpg), linear-gradient(-90deg, $Black, $White );
        @include bg;
      @extend %Contentlist
    }
    li{
        width: 100%;
        list-style: none;
    }
    ul{
     
      @include flexMain(center, column);
        width: 100%;
        padding: 0;
    }
  }
  footer{
    background-color: $Black;
    color: $White;
    ul{
      @include flexMain(center, column);
      justify-content: center;
    }
    ul > li{
      font-family: $font-family2;
      margin: .7em;
    }
    .icons{
flex-direction: row;

    }
    ul > li:hover{
      border-bottom: 3px solid white;
      transition: ease-in-out, 2s;
    }
    em {
      @include flexMain(center,column );
      color: $DarkGray;
      font-style: normal;
    }

  }
  li{
  
    list-style: none;
  }